<div class="panel panel-main cp-font">
  <div class="panel-heading center">
    <h1>New Cigar Pic</h1>
  </div>
  <div class="panel-body">
    <%= render 'form' %>
  </div>
  <div class="panel-footer">
    <%= link_to 'All Pics', pins_path %>
  </div>
</div>
