<div class="jumbotron center">
<h1>About Cigar Pics</h1>
  <div class="container">
    <%= link_to image_tag("Cigar_Stash.jpg", width: "250", height: "200"), "https://github.com/mkjenkins101" %>
    <p>Cigar Pics creates an affinity for cigars and <br> 
    develops a brotherhood among cigar lovers new and great.<br>
    Grow and cultivate your appreciation for cigars and find<br>
    all the information you need from which sticks to try,<br>
    how to enjoy them properly, what to pair them with, and<br>
    detailed reviews by your fellow cigar lovers. Enjoy!</p>
  </div>
</div>
