<div class="jumbotron center">
<h1>About Mitch's Pin Picks</h1>
  <div class="container">
    <%= link_to image_tag("Mitch_and_Shelley.jpg", width: "250", height: "200"), "https://github.com/mkjenkins101" %>
    <p>To make up for a lack of specific work experience <br>
    I'm endeavoring to prove a high degree of knowledge <br>
    skill through personal projects</p>
  </div>
</div>
