<div class="jumbotron" align="center">
<h1>Mitch's Pin Picks</h1>
<p>This is the beginning!</p>
<p>Click this button and <br><%= link_to "Carry On", "#", class: "btn btn-primary btn-lg" %></p>
</div>
